<div class="main-page">

  <h1>
    <span class="black">Yet another map...</span>
  </h1>

<!--   <div class="form-group">
    <label for="zoom">Zoom:</label>
    <input type="number" class="form-control" id="zoom" placeholder="evc.map.zoom" ng-bind="evc.map.zoom">
  </div>
  <div class="form-group">
    <label for="lat">lat:</label>
    <input type="number" class="form-control" id="lat">
  </div>
  <div class="form-group">
    <label for="lng">lng:</label>
    <input type="number" class="form-control" id="lng">
  </div> -->

<!--   <data-map zoom="mpc.coords1.zoom" center="mpc.coords1.center"></data-map> -->

  <data-map center="mpc.map.center" zoom="mpc.map.zoom">
    <marker coordinates="mpc.marker.coordinates" icon="mpc.marker.icon"></marker>
  </data-map>

</div>


