*~
node_modules
/build
/compressed
/dist
target
.sass-cache
/.project
test-results.xml
.DS_Store
debian/files
debian/frontend/
/.tmp/
*._.DS_Store
*.sublime-project
*.sublime-workspace
/checkstyle-jscs.xml
/checkstyle-jshint.xml
/checkstyle-scss.xml
*.sublime-grunt.cache
Gemfile.lock
/junit-scss.xml
debian/frontend.debhelper.log
debian/frontend.substvars
/snapshots/
